#cloud-config
users:
- name: "{{ admin_user }}"
  ssh_authorized_keys: 
  - "{{ ssh_key }}"
  groups: ["wheel"]
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']

runcmd:
  - echo "Welcome to RHEL 9!" > /etc/motd
{% for command in commands %}
  - {{ command }}
{% endfor %}